<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
      
<!-- <test name="Validate Login Page Test">
     <classes>        
      <class name="com.qa.eaglvu.tests.LoginPageTest"/>
     </classes>
</test> -->

 
<!--<test name="Validate Dashboard Page Test">
    <classes>
      <class name="com.qa.eaglvu.tests.DashboardPageTest"/>
     </classes>
</test> 
      
<test name="Validate Recognition Page Test">
     <classes>      
       <class name="com.qa.eaglvu.tests.RecognitionPageTest"/>
     </classes>
</test>  -->

<test name="Validate Proficiency Page Test">
     <classes>      
       <class name="com.qa.eaglvu.tests.ProficiencyPageTest"/>
     </classes>
</test>

</suite> <!-- Suite -->

	